<div class="page-header">
  <h1>All links</h1>
</div>

<div class="btn-toolbar">
  {{#if isAuthenticated}}
    {{#link-to "link/new" class="btn btn-primary"}}
      Add a link
    {{/link-to}}
  {{/if}}
</div>


<div class="row">
  <ul class="unstyled">
    {{#each}}
      {{link-view link=this tag='li' favoriteAction='favorite' unFavoriteAction='unfavorite' currentUser=currentUser}}
    {{/each}}
  </ul>
</div>
