<div class="page-header">
  <h1>All links</h1>
</div>

{{#link-to "link/new" class="btn btn-primary"}}
Add a link
{{/link-to}}

<div class="row">
  <ul class="unstyled">
    {{#each}}
      <li>
        <h4><a {{bind-attr href=url}}>{{name}}</a></h4>
        <p>
          {{description}}
        </p>
        {{#if created_at}}
          <span class="muted">Posted at {{format-date created_at "DD/MM/YY"}}</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
